* {
  margin: 0;
  padding: 0;
  text-align: center;
}

#container {
  margin: 100px auto;
  width: 500px;
  background-color: black;
  border-radius: 25px;
}

#displayHolder {
  display: flex;
  padding: 20px 40px;

}

#display {
  color: white;
  margin-left:auto;
  padding: 10px;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
}

#buttonsHolder {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(4, 4fr);
  gap: 8px;
}

.btn {
  padding: 24px 0;
  border: solid black 1px;
  border-radius: 50px;
  font-size: 24px;
}


#zero {
  width: 205%;
}

#comma {
  grid-column-start: 3;
  font-size: 40px;
  padding: 0;
}

#equals {
  grid-column-start: 4;
  font-size: 32px;
  padding: 0;
}

#division {
  font-size: 40px;
  padding: 0;
}

#minus {
  font-size: 20px;
  padding: 0;
  font-weight: 900;
}

#plus {
  font-size: 32px;
  padding: 0;
}

#multiply {
  font-size: 32px;
  padding: 0;
}

.light {
  background-color: rgb(187, 187, 187);
  color: black;
}

.light:hover {
  background-color: rgb(145, 145, 145);
}

.dark {
  background-color: rgb(63, 63, 63);
  color: white;
}

.dark:hover {
  background-color: grey;
}

.operator {
  background-color: rgb(248, 161, 0);
  color: white;
}

.operator:hover {
  background-color: white;
  color: rgb(248, 161, 0);
}

